body {
    background-color: Soft violet: hsl(273, 75%, 66%);
}

.main {
    display: flex;
    flex-direction: column;
}

.faq-container {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
}