* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(257, 40%, 49%);
    background-image: url('images/bg-mobile.svg');
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-attachment: fixed;
    background-size: contain;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.logo {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 40px ;
}
.header {
    display: flex;
    width: 30%;
    margin-left: 37px;
    margin-top: 37px;
}

.web-image {
    display: flex;
    width: 80%;
    margin-left: 37px;
    margin-bottom: 40px;;
}
.mockup {
    max-height: 100%;
    max-width: 100%;
}

.community-profile {
    display: flex;
    flex-direction: column;
    color: white;
  
    margin-bottom: 20px;
    margin-left: 37px;
    margin-right: 37px;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    text-align: center;
    font-weight: 600;

    margin-bottom: 20px;
}

.content {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 400;

    width: 93%;
    margin-left: 10px;;
}

.register {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.register button {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;

    text-align: center;
    color: hsl(257, 40%, 49%);
    background-color: white;

    border: none;
    border-radius: 16px;
    padding: 10px 60px;
}

.register button:hover {
    background-color: hsl(300, 69%, 71%);
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 9px;
}

.logos {
    display: flex;
    justify-content: center ;
    border: 1px solid white;
    border-radius: 13px;
    padding: 8px;
    margin-right: 10px;
    height: 26px;
    width: 26px;
}
}


.twitter {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 10px;
    height: 26px;
    width: 26px;
}

.instagram {
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    height: 26px;
    width: 26px;

}
@media only screen and (max-width: 400px){
    body {
        
    }
}

@media only screen and (min-width: 961px){
    .page {
        width: 961px;
        margin: 0 auto;
    }
    .header {
        width: 100%
    }
    
    .flex-content {
        display: flex;
        height: 500px;
        margin-top: 40px;
    }

    .left-content {
        display: flex;
        flex-direction: column;
        width: 140%;
        margin-left: 40px;
    }

    .right-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 40px;
    }

    .web-image {
        margin-left: 0;
        width: 100%;    
    }

    h1 {
        font-size: 34px;
        text-align: left;
    }

    .community-profile {
        margin-left: 25px;
        margin-right: 0;
        margin-bottom: 20px;
    }

    p {
        text-align: left;
        font-size: 14px ;
    }

    .content {
        margin-left: 0;
    }
    
    .register {
        justify-content: flex-start;
        margin-left: 25px;
    }

    .social {
        justify-content: flex-end;
    }
}